.homePage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--Button {
        margin: 10px;
    }
}

.loginRegister {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    margin: 50px;
    &--picture {
        margin-left: 20px;
        width: 60px;
        height: 60px;
    }
}
