.homePage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--Button {
        margin: 10px;
    }
}

.loginRegister {
    display: flex;
    flex-direction: row;
}
